.search-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.search-text {
  color:white;
  font-size: 16px;
  font-weight: 700;
  padding-right: 10px;
}

.search-input {
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  width: 100px;
  height: 25px;
  margin-right: 10px;
}

.search-btn {
  padding: 5px;
  border-radius: 3px;
  border: none;
  height: 25px;
  width: 60px;
  font-size: 14px;
  color: white;
  background-color: #33C3DD;
}