.pageCep-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.pageCep-container-search {
  display: flex;
  justify-content: center;
  align-items: center;
}